<!DOCTYPE html>
<%- include('../partial/head.ejs') %>
<body>
    <%- include('../partial/nav.ejs') %>
    <div class="container-fluid details content"><br>
        <h3><%= blog.title %></h3>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class='delete' data-doc='<%= blog._id  %>'>
            Delete
        </a>
</div>
<%- include('../partial/footer.ejs') %>  
    <script>
        const transhcan = document.querySelector('a.delete');
        transhcan.addEventListener('click', (e) =>{
            const endpoint = `/blogs/${transhcan.dataset.doc}`;
            fetch(endpoint, {
                method : 'DELETE'
            })
            .then(response => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>

</body>